---
http_interactions:
- request:
    method: get
    uri: https://sandbox-app.vindi.com.br/api/v1/periods/1334849/usages
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic UzVwUHFFdXItajk5TEllZUpRVC1XRkV2UHRmQ19WQW1BQXZRNm4zRkd5azo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - W/"f14066f41d9e4b047ce4c1098046faa2"
      Per-Page:
      - '25'
      Rate-Limit-Limit:
      - '120'
      Rate-Limit-Remaining:
      - '119'
      Rate-Limit-Reset:
      - '1572617152'
      Total:
      - '1'
    body:
      encoding: UTF-8
      string: '{"usages":[{"id":2980866,"quantity":1,"description":null,"created_at":"2019-08-23T17:00:29.000-03:00","metadata":{},"product_item":{"id":234168,"product":{"id":14667,"name":"001
        - Mensalidade teste","code":null}},"bill":{"id":1354335,"code":null}}]}'
  recorded_at: Fri, 01 Nov 2019 14:04:35 GMT
recorded_with: VCR 3.0.3
